<section id="cover" style="background-image: url('{{document.getImage('home-page.cover').main.url}}')">
    <div class="filter" />
    <div class="filter-content">
        <h1>Crapaud & Loulou se disent "oui !"</h1>
    </div>
</section>

<section id="invitation">
    <div class="container">
        <div ng-bind-html="document.getStructuredText('home-page.invitation').asHtml(linkResolver)"></div>
    </div>
</section>

<section id="schedule">
    <div class="container">
        TODO...
    </div>
</section>

<section id="contact">
    <div class="container">
        TODO...
    </div>
</section>

<section id="footer">
    <div class="container">
        TODO...
    </div>
</section>